body {
    background: lightblue;
}
/*!*table {*!*/
/*!*    border-collapse: collapse;*!*/
/*!*    border: 5px solid black;*!*/
/*}*/
thead tr, th {
    border-bottom: 2px solid black;
}
/*tbody tr,*/
/*tbody td {*/
/*    border: 1px solid black;*/
/*}*/
tfoot tr td {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}
.button {
    background: blue;
}
.button:hover {
    background: lightgreen;
    width: 100px;
    border-radius: 50%;
}